
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:90%; margin:0 auto"> 
        <table id="productDatatable">
            <thead>
                <tr>
                    <th>Store name</th>
                    <th>Product name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var product_table = $('#productDatatable').DataTable({
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "ajax": {
                    "url": '/home/GetProduct',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "store_name", "name": "store_name", "autoWidth": true },
                    { "data": "product_name", "name": "product_name", "autoWidth": true },
                    { "data": "price", "name": "price", "autoWidth": true }
                ]
            })
        })
    </script>
</body>
</html>
